[submodule "ECS-Lab"]
	path = ECS-Lab
	url = https://github.com/iamstupid/ECS-Lab.git
[submodule "data/ArknightsGameData"]
	path = data/ArknightsGameData
	url = https://github.com/Kengxxiao/ArknightsGameData.git
